# See http://help.github.com/ignore-files/ for more about ignoring files.

# compiled output
interface/dist
interface/tmp
interface/out-tsc

# dependencies
/node_modules

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# misc
interface/.sass-cache
interface/connect.lock
interface/coverage
interface/libpeerconnection.log
interface/npm-debug.log
interface/yarn-error.log
interface/testem.log
interface/typings

# System Files
interface/.DS_Store
interface/Thumbs.db
